$navbar-border-color: blue;
$navbar-item-bg-color: #f0f0f0;
$navbar-item-text-color: #373737;
$navbar-item-selected-bg-color: #e1e1e1;
$navbar-item-selected-text-color: #000000;
$navbar-slider-bg-color: rgba(244, 244, 244, 0.23);
$navbar-slider-dragging-bg-color: rgba(171, 171, 171, 0.42);
$navbar-slider-transition-bg-color-speed: 0.15s;

.navbar {
    min-height: 22px;
    border-bottom: 1px solid $navbar-border-color;
    display: flex;
    position: relative;
    overflow: hidden;

    .slider {
        position: absolute;
        height: 100%;
        box-sizing: border-box;
        border-bottom: 2px solid $navbar-border-color;
        background-color: $navbar-slider-bg-color;
        transition: background-color $navbar-slider-transition-bg-color-speed;
        &:not(.is-dragging) {
            transition: background-color $navbar-slider-transition-bg-color-speed, margin-left 0.3s;
        }
    }
    .slider.is-dragging {
        background-color: $navbar-slider-dragging-bg-color;
    }

    .item {
        width: 100%;
        border-right: 1px solid #80808033;
        background-color: $navbar-item-bg-color;
        transition: background-color 0.5s;

        &:last-child {
            border-right: none;
        }

        p {
            text-align: center;
            padding: 3px 0 2px;
            color: $navbar-item-text-color;
            transition: color 0.3s;
        }
    }
    .item.selected {
        background-color: $navbar-item-selected-bg-color;

        p {
            color: $navbar-item-selected-text-color;
        }
    }
}
