.add-note {
    box-shadow: 0 10px 10px 0 #fff;
    max-height: 72px;
    opacity: 1;
    padding: 14px 6px 0;
    transition: max-height 0.29s, opacity 0.2s ease-out, padding-top 0.2s ease 0.05s;
    z-index: 1;

    &.hidden {
        max-height: 0;
        opacity: 0;
        padding-top: 0;
    }

    &-content {
        padding: 0 8px 2px;
        display: flex;
        align-items: flex-end;

        input {
            flex-grow: 1;
            border: 1px solid $border-color1;
            border-radius: 22px;
            font-size: 20px;
            padding: 10px 20px;
            background-color: #f9f9f9;
            color: $text-color1;
            outline: 0;

            &::placeholder {
                color: lighten($text-color3, 20);
                font-size: 18px;
            }
            &:focus {
                box-shadow: 0 0 4pt 2pt #e0e0e0;
            }
            &.empty {
                background-color: #f3f3f3;
            }
        }
    }

    &-submit {
        cursor: pointer;
        min-width: 34px;
        max-width: 34px;
        margin-left: 12px;
        transition: margin-left 0.15s ease 0.05s, max-width 0.3s, min-width 0.3s, opacity 0.4s;
        outline: 0;

        svg {
            color: #37cc71;
            font-size: 36px;
        }
    }

    &.disabled &-submit {
        cursor: auto;
        min-width: 0;
        max-width: 0;
        margin: 0;
        opacity: 0;
        transition: margin 0.5s, max-width 0.5s, min-width 0.5s, opacity 0.3s;

        svg {
            height: 0;
            width: 0;
            transition: height 0.3s, width 0.4s;
        }
    }
}
