.list {
    display: flex;
    flex-direction: column;
    padding: 0 12px 0;

    &-empty {
        p {
            text-align: center;
            color: $text-color3;
            font-size: 30px;
            padding-top: 40px;
        }
    }
}
