$app-bg-color: #fff;
$text-color1: #25304b;
$text-color2: #303c56;
$text-color3: #777b91;
$border-color1: #d3d3d3;

$app-bg-color-inverse: #0e1326;
$text-color1-inverse: #d4d4de;
$text-color2-inverse: #b0becc;
$text-color3-inverse: #7b7f97;
$border-color1-inverse: #26282e;

@import 'reset';
@import 'App';
@import 'Loader';
@import 'List';
@import 'Note';
@import 'AddNote';
@import 'Controls';
