* {
    margin: 0;
    padding: 0;
    outline: 0;
}
* :focus {
    box-shadow: 0 0 2pt 0.5pt #9cd2ff;
}
html,
body,
#main {
    height: 100%;
}
body {
    background-color: #78878f30;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#overlay-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(11, 18, 41, 0.45);
    padding: 0 auto;
}
#overlay-spinner i {
    position: absolute;
    top: 26%;
    left: 42%;
    animation-duration: 1.6s;
    font-size: 70px;
    color: #dedfeb;
    transition: color 0.5s ease-out;
}
#overlay-spinner i:hover {
    color: white;
    transition: color 0.5s ease-out;
}

.container {
    display: flex;
    width: 100%;
}
.crossed {
    text-decoration: line-through;
}
.error {
    color: #f22223;
    font-size: 14px;
    font-style: italic;
    text-align: right;
    margin: 3px 8px 0;
    max-height: 400px;
    opacity: 1;
    transition: max-height 4s, opacity 0.3s ease-out;
}
.error.empty {
    max-height: 0;
    opacity: 0;
    transition: max-height 2s, opacity 0.5s ease-in 1s;
}
.textarea {
    background-color: #f4f4f4;
    transition: background-color 0.4s ease-in 0.1s, box-shadow 0.4s ease-in 0.1s, min-height 0.4s;
}
.success {
    box-shadow: 0 0 6pt 1px rgba(63, 255, 0, 0.72);
    background-color: #f8fffc;
    transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out, min-height 0.4s;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#date-container {
    display: flex;
    flex-direction: column;
}
#date-controls {
    display: flex;
    align-items: center;
    margin: 10px 20px 2px;
}
.date-control {
    display: flex;
    margin-right: 8%;
}
.date-control:last-child {
    margin: 0 0 0 auto;
}
.date-control label {
    margin: -3px 4px 0 0;
}
#date-selected {
    color: #57637d;
    max-width: 200px;
    overflow: hidden;
    transition: max-width 1s ease-in 0.3s;
}
#date-selected.empty {
    max-width: 0;
    transition: max-width 0.4s ease-out;
}
#date {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#date-picker {
    margin-bottom: 10px;
}
#date-picker,
#time-picker {
    opacity: 1;
    max-height: 1000px;
    max-width: 1000px;
    transition: opacity 0.6s ease-in, max-height 6s ease-out;
}
#date-picker.hidden,
#time-picker.hidden {
    margin: 0;
    opacity: 0;
    max-height: 0;
    max-width: 0;
    transition: opacity 0.5s ease-out, max-height 2.5s ease-out -0.8s, max-width 0s linear 3s;
}

#note-container {
    flex-direction: column;
}
#note {
    min-height: 58px;
    max-height: 28vh;
    word-wrap: break-word;
    overflow: auto;
    padding: 8px 12px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
}
#note:empty:not(:focus):before {
    color: #9299a5;
    font-size: 15px;
    content: attr(data-placeholder);
}
#date-error { margin-bottom: 14px; }
#error { margin-bottom: 8px; }

#buttons-container {
    flex-direction: column;
    margin-bottom: 20px;
}
#add-note {
    margin-top: 6px;
    padding: 8px 2px;
    border: 1px solid #cdcdcd;
    border-radius: 7px;
    background-color: #dddddd;
    color: #5b6983;
    font-size: 20px;
    transition: opacity 0.2s ease-out, background-color 0.3s ease-out;
}
#add-note:disabled {
    cursor: auto;
    opacity: .3;
    transition: opacity 0.25s ease-out;
}
#add-note:hover:not(:disabled) {
    cursor: pointer;
    background-color: #e3e3e3;
    transition: background-color 0.3s ease-out;
}

.picker {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    overflow: hidden;
}
.picker .picker-item {
    line-height: 46px;
    height: 15px;
    transition: color 0.2s ease-out;
}
.picker .picker-item.picker-picked {
    font-size: 20px;
}
.picker .picker-cell__body {
    height: 84px;
}
.picker .picker-cell__header {
    padding: 3px 0 0;
    line-height: 16px;
}
.picker .picker-cell__control {
    height: 12px;
    padding: 0;
}
.picker .picker-cell__control:before {
    transition: border-color 0.1s ease-out;
}
.picker .picker-cell__control--prev { margin: 6px 0 -3px; }
.picker .picker-cell__control--next { margin: -6px 0 7px; }

@media (min-width: 600px) {
    #overlay-spinner i { left: 46%; }
    #date {
        flex-direction: row;
        justify-content: center;
    }
    #note {
        max-height: 53vh;
    }
    #buttons-container {
        flex-direction: row;
        justify-content: flex-end;
    }
    #add-note {
        min-width: 180px;
        margin-right: 4%;
    }
    #date-selected {
        white-space: nowrap;
    }
    #date-picker {
        max-width: 450px;
    }
    #time-picker {
        max-width: 300px;
    }
    #date-picker {
        margin-bottom: 0;
        margin-right: 30px;
    }
    #date-picker,
    #time-picker {
        transition: opacity 0.6s ease-in, max-height 3s, max-width 1s ease-out;
    }
    #date-picker.hidden,
    #time-picker.hidden {
        transition: opacity 0.5s ease-out 0.2s, max-height 1s, max-width 1s ease-in -0.1s;
    }
}
@media (min-height: 600px) {
    #note {
        min-height: 162px;
    }
}
